.row-1 {
    margin-top: 25px;
}
.add-book {
    width: 100px;
    height: 100px;
    font-weight: 700;
}
.title {
    font-size: 30px;
    font-weight: 600;
    color:midnightblue;
}
.main-card {
    background-color: transparent;
    border: none;
}
.book-col {
    margin-left: -140px;
}
.book-row {
    margin-bottom: 10px;
}
.book-card {
    width: 300px
}
.book-icon {
    width: 30px;
}
.book-text {
    font-size: 22px;
    margin-bottom: 7px;
}